@model HouseRequest

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdminMH2";
}

<div>
    <h2>
        House Request
    </h2>
    
    <h3>
        @if (@Model.HouseId!=null && @Model.HouseId!=0)
        {
            <a href="/Main/House/@Model.HouseId">
                перейти к обьявлению
            </a>
        }
    </h3>
    
    <div>
        <h4>
            <span style="color: greenyellow">
                @Model.Status
            </span>
        </h4>
        <div>
            @Model.FirstName @Model.LastName @Model.Patronymic
        </div>
        <div>
            номер телефона: @Model.Phone
        </div>
        <div>
            Точный адрес: @Model.Address
        </div>
        <div>
            желаемый адрес: @Model.AproximateAddress
        </div>
        <div>
            Пожелания: @Model.Suggestions
        </div>
        <div>
            Кол-во комнат: @Model.RoomCount
        </div>
        <div>
            Покупка: @Model.IsBuying
        </div>
        <div>
            Аренда: @Model.IsRenting
        </div>



    </div>
    
    <form method="post" action="/Request/EditStatus?id=@Model.Id">
        <input list="statuses" name="status" />
        <datalist id="statuses">
            <option>
                в приоритете выполнения
            </option>
            <option>
                в максимальном приоретете выполнения
            </option>
            <option>
                в процессе
            </option>
            <option>
                не проверено
            </option>
            <option>
                проверено
            </option>
        </datalist>
        
        <input type="submit" value="change status" />
        
    </form>
    
</div>
